@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    --default-green: #1db954;
    --dark-green: #1ed760;
    --white: white;
    --black: black;
    --gray: #919496;
    --gray-transparency: rgba(0, 0, 0, 0.6);

    --width-container: 85%;
}

body {
    font-family: 'Roboto', sans-serif;
}

/* Utility classes */

.btn-primary {
    padding: 15px 60px;
    border-radius: 30px;
    background-color: var(--default-green);
    text-transform: uppercase;
    color: var(--white);
    border: none;
    letter-spacing: 1px;
    font-weight: bold;
    cursor: pointer;
    transition: all 300ms ease;
}

.btn-primary:hover {
    background-color: var(--dark-green);
}

.logo {
    height: 30px;
    width: auto;
    cursor: pointer;
}

.hov-effect-txt {
    transition: all 300ms ease;
}

.hov-effect-txt:hover {
    color: var(--default-green);
    cursor: pointer;
}

/* Navbar */

#navbar {
    position: fixed;
    width: 100%;
    color: var(--white);
    background-color: var(--gray-transparency);
}

.navbar-sandwich {
    cursor: pointer;
    z-index: 1;
    position: absolute;
    right: 30px;
  }
  
  .navbar-sandwich > * + * {
    margin-top: 6px;
  }
  
  #line1.change {
    width: 33px;
    transform: rotate(45deg) translate(7px, 10px);
  }
  
  #line2.change {
    visibility: hidden;
    transition: visibility 0s;
  }
  
  #line3.change {
    width: 33px;
    transform: rotate(-45deg) translate(2px, -5px);
  }
  
  .line {
    width: 25px;
    height: 3px;
    background-color: var(--white);
    transition: all 0.7s;
  }

#bg-close-menu {
    position: absolute;
    left: 0;
    top: 0;
    background-color: rgba(0, 0, 0, 0.012);
    width: 100vw;
    height: 100vh;
    transform: translateX(3500px);
    backdrop-filter: blur(3px);
}
  
.active,
#bg-close-menu.active {
    transform: translateX(0);
}

.navbar-container {
    width: var(--width-container);
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-height: 80px;
    padding: 20px 0;
}

  .navbar-items,
  .navbar-items::after {
    position: relative;
    top: 380px;
    right: 0;
    padding: 180px 40px 50px;
    margin-right: -26px;
    height: 100vh;
    z-index: 1;
    background-color: var(--black);
    transform: translateX(1000px);
    transition: transform 500ms ease;
  }

.navbar-items.active {
    transform: translateX(0);
  }

.navbar-item {
    list-style: none;
    padding: 20px;
}

/* Showcase */

#showcase {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--white);
    background: url("./img/showcase.webp") center center/cover;
    background-blend-mode: color;
    background-color: var(--gray-transparency);
}

.showcase-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: var(--width-container);
}

.showcase-container > * {
    margin: auto;
}

#showcase h2 {
    font-size: 5rem;
}

#showcase p {
    margin: 15px ;
    font-size: 1.1rem;
}

/* Footer */

#footer {
    color: var(--white);
    background-color: var(--black);
    padding: 20px 0;
}

.footer-content  {
    width: var(--width-container);
    margin: auto;
    padding: 80px 0;
}

.footer-menu {
    margin: 0 20px;
    list-style: none;
    font-size: .9rem;
}

.footer-menu p {
    font-weight: bold;
    text-transform: uppercase;
    color: var(--gray);
    font-size: .8rem;
}

.footer-menu li {
    margin: 10px 0;
}

.socials {
    display: flex;
    justify-content: center;
    gap: 15px;
    margin: auto;
}

.social-item svg{
    background-color: rgb(46, 46, 46);
    border-radius: 50%;
    padding: 9px;
    width: 40px;
    height: 40px;
    margin: 5px;
}

.footer-info {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    width: var(--width-container);
    margin: auto;
}

.footer p, .footer-info {
    color: var(--gray);
    font-weight: bold;
    margin-bottom: 20px;
    font-size: 0.7rem;
}

.footer-info-items {
    list-style: none;
}

.footer-info li{
    margin-right: 15px;
}

.footer-info .rights .country {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-bottom: 10px;
}

.country img {
    height: 15px;
    width: auto;
    display: inline-block;
    margin-left: 10px;
}

.footer-menu {
    margin: 40px 0;
}

/* Media > tablet */
@media  (min-width: 768px) {
    :root {
        --width-container: 80%;
    } 

    .navbar-sandwich {
        display: none;
    }
    
    .navbar-items,
  .navbar-items::after {
        display: flex;
        align-items: center; 
        background-color: rgba(255, 255, 255, 0);

        position: inherit;
    padding: 20px 0;
    margin: 0;
    height: inherit;
    transform: translateX(0);
  }
    
    .navbar-item {
        list-style: none;
        padding: 0 20px;
    }
    
    .navbar-item:nth-child(3) {
        border-right: 1px solid rgba(255, 255, 255, 0.439);
    }

    .logo {
        height: 40px;
    }

    .footer-menu-group {
        display: flex;
        justify-content: space-between;
        width: 100%;
    }    
}

/* Media > laptop */
@media  (min-width: 1024px) {
    :root {
        --width-container: 60%;
    } 

    .footer-content{
        display: flex;
        justify-content: space-between;
    }

    .footer-menu {
        margin: 0 40px;
    }

    .socials {
        margin: 0 auto;
    }

    .footer-info-items {
        display: flex;
   }
    
}